<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To UrbanEdge!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Custom CSS file link -->
    <link rel="stylesheet" href="../Public/styles.css">
</head>
<body>
    <!-- Header section starts -->
    <header>
        <input type="checkbox" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="#" class="logo">UrbanEdge<span>.</span></a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="about.html">about</a> <!-- Link to about.html -->
            <a href="#products">categories</a>
            <a href="contact.html">contact</a>
            <a href="signup.html">signUp/signIn</a> <!-- Updated login link -->
        </nav>
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="cart.html" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-user"></a>
        </div>
    </header>
    <!-- Header section ends -->
    <!-- Home section starts -->
    <section class="home" id="home">
        <div class="content">
            <h3>UrbanEdge</h3>
            <span>Clothing|Footwear|Jewellery</span>
            <p>UrbanEdge offers stylish clothing, footwear, and jewelry for effortless shopping!</p>
            <p><br>UrbanEdge is your go-to e-commerce platform for the latest in clothing, jewelry, and shoes. Our curated selection offers trendy styles for everyone, ensuring a delightful shopping experience with just a few clicks!</p>
            <a href="#products" class="btn shop-now">shop now</a>
        </div>
    </section>
    <!-- Home section ends -->
    <!-- product section starts -->
    <section class="products" id="products">
        <h1 class="heading">Featured<span class="featured" > Categories</span></h1>
        <div class="box-container">
            <div class="box">
                <span class="discount">-20%</span>
                <div class="image">
                    <img src="https://images.pexels.com/photos/792760/pexels-photo-792760.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="jewellery.html" class="cart-btn">Click For More</a>
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Jewellery</h3>
                    <div class="Price"><span>Elegant and timeless jewelry pieces to elevate your style.</span></div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-15%</span>
                    <div class="image">
                        <img src="https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="clothes.html" class="cart-btn">Click For More</a>
                            <a href="#" class="fas fa-heart"></a>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Clothes</h3>
                        <div class="Price"><span>Trendy and comfortable clothing for every occasion.</span></div>
                    </div>
            </div>
            <div class="box">
                <span class="discount">-20%</span>
                <div class="image">
                    <img src="https://images.pexels.com/photos/2044228/pexels-photo-2044228.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="shoes.html" class="cart-btn">Click For More</a>
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Shoes</h3>
                    <div class="Price"><span>Step into style with our latest collection of shoes for all occasions.</span></div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-50%</span>
                <div class="image">
                    <img src="https://images.pexels.com/photos/1115128/pexels-photo-1115128.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="shoes.html" class="cart-btn">Click For More</a>
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Makeup</h3>
                    <div class="Price"><span>Discover premium makeup essentials that enhance your beauty effortlessly</span></div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-30%</span>
                <div class="image">
                    <img src="https://images.pexels.com/photos/4846461/pexels-photo-4846461.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Click For More</a>
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>House Decor</h3>
                    <div class="Price"><span>Elevate your living space with stylish and modern home decor pieces.</span></div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-40%</span>
                <div class="image">
                    <img src="https://images.pexels.com/photos/8845082/pexels-photo-8845082.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Click For More</a>
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Electronics</h3>
                    <div class="Price"><span>Discover cutting-edge electronics that enhance your lifestyle with innovation and style.</span></div>
                </div>
            </div>
        </div>
    </section>
    <!-- product section ends -->
     <!-- footer section starts here -->
    <section class="footer" id="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                    <a href="#home">home</a>
                    <a href="about.html">about</a>
                    <a href="home.html#products">products</a>
                    <a href="#">review</a>
                    <a href="contact.html">contact</a>
            </div>
            <div class="box">
                <h3>extra links</h3>
                    <a href="#">my account</a>
                    <a href="cart.html">my order</a>
                    <a href="#">my favorite</a>   
            </div>  
            <div class="box">
                <h3>locations</h3>
                    <span>India</span>
                    <span>USA</span>
                    <span>Japan</span>
                    <span>France</span>
            </div>
            <div class="box">
                <h3>contact info</h3>
                    <span>+123-678-987</span>
                    <a href="#">urbanedge@gmail.com</a>
                    <span>Islamabad, Pakistan - 45000</span>
            </div>
        </div>
        <div class="credit">Created by<span>Ms.Designer</span>|All Rights Reserved</div>
    </section>
    <!-- footer section ends here -->
</body>
</html>